body {
margin: 0;
font-family: 'Rubik', sans-serif;
direction: rtl;
}

.logo a {
    text-decoration: none;
    color: #ff6f61;
    padding: 5px 10px;
    font-weight: medium;
    text-align: center;
    }

    .logo a:hover, a:active {
        background-color: none;
        color: black;
        }

        .menu a:hover, a:active {
            background-color: none;
            color: #ff6f61;
            }
    
.logo {
font-size: 10rem;
margin: 0rem;
font-weight: bold;
position: absolute;
top: 32vh;
/* right: 30vw;  */
color: #ff6f61;
letter-spacing: -10px;
width: 100%;
text-align: center;
}

h2 {
font-size: 1.9rem;
margin: 0rem;
font-weight: 400;
position: absolute;
top: 55vh;
right: -3.8vw; 
color: #ff6f61;
width: 100%;
text-align: center;
}



.menu a {
text-decoration: none;
color: black;
padding: 5px 10px;
font-weight: medium;
text-align: center;
}

.n1 {
position: absolute;
font-size: 3rem;
top: 15vh;
right: 50vw;
}

.n2 {
position: absolute;
font-size: 4rem;
bottom: 6vh;
right: 22vw;
}

.n3 {
position: absolute;
font-size: 2rem;
top: 30vh;
left: 43vw;
 }

 .n4 {
position: absolute;
font-size: 6rem;
top: 9vh;
left: 25vw;
 }

.n5 {
position: absolute;
font-size: 2.5rem;
top: 30vh;
left: 15vw;
}

.n6 {
 position: absolute;
font-size: 5.5rem;
top: 50vh;
left: 10vw;
 }

 .n7 {
position: absolute;
font-size: 1.5rem;
top: 16vh;
right: 60vw;
}

.n8 {
position: absolute;
font-size: 3.5rem;
bottom: 10vh;
left: 5vw;
}

.n9 {
position: absolute;
font-size: 1rem;
top: 20vh;
left: 4vw;
}

.n10 {
position: absolute;
font-size: 1.5rem;
top: 50vh;
right: 3vw;
}

.n11 {
position: absolute;
font-size: 5.5rem;
top: 38vh;
right: 70vw;
}

.n12 {
position: absolute;
font-size: 2.5rem;
top: 2vh;
right: 65vw;
}

.n13 {
position: absolute;
font-size: 1rem;
bottom: 18vh;
left: 15vw;
}

.n14 {
position: absolute;
font-size: 2rem;
top: 40vh;
right: 14vw;
}

.n15 {
position: absolute;
font-size: 3rem;
top: 75vh;
right: 30vw;
}

.n16 {
position: absolute;
font-size: 1.5rem;
top: 5vh;
right: 30vw;
}

.n17 {
position: absolute;
font-size: 5rem;
top: 26vh;
right: 25vw;
}

.n18 {
position: absolute;
font-size: 3rem;
top: 88vh;
right: 2vw;
}

.n19 {
position: absolute;
font-size: 3rem;
top: 40vh;
left: 5vw;
}

.n20 {
position: absolute;
font-size: 5rem;
top: 80vh;
right: 40vw;
}

.n21 {
position: absolute;
font-size: 1rem;
top: 32vh;
right: 40vw;
}

.n22 {
position: absolute;
font-size: 2rem;
top: 17vh;
right: 2vw;
}

.n23 {
position: absolute;
font-size: 2.5rem;
top: 13vh;
right: 33vw;
}

.n24 {
position: absolute;
font-size: 2.9rem;
top: 23vh;
right: 9vw;
}

.n25 {
position: absolute;
font-size: 1.5rem;
top: 61vh;
right: 35vw;
}

.n26 {
position: absolute;
font-size: 2.2rem;
top: 90vh;
right: 53vw;
}

.n27 {
position: absolute;
font-size: 1.8rem;
top: 18vh;
right: 20vw;
}

.n28 {
position: absolute;
font-size: 1.1rem;
top: 33vh;
right: 68vw;
}

.n29 {
position: absolute;
font-size: 3rem;
top: 1.5vh;
right: 53vw;
}

.n30 {
position: absolute;
font-size: 2.2rem;
top: 60vh;
left: 20vw;
}

.n31 {
position: absolute;
font-size: 5.5rem;
top: 1.3vh;
right: 11vw;
}

.n32 {
position: absolute;
font-size: 4rem;
top: 55vh;
right: 17vw;
}

.n33 {
position: absolute;
font-size: 4.3rem;
top: 70vh;
left: 25vw;
}

.n34 {
position: absolute;
font-size: 1rem;
top: 38vh;
right: 5vw;
}

.n35 {
position: absolute;
font-size: 1.5rem;
top: 62vh;
right: 75vw;
}

.n36 {
position: absolute;
font-size: 1.7rem;
top: 13vh;
right: 45vw;
}

.n35 {
position: absolute;
font-size: 2rem;
top: 65vh;
right: 55vw;
}

.n36 {
position: absolute;
font-size: 3rem;
top: 65vh;
right: 5vw;
}

.n37 {
position: absolute;
font-size: 4rem;
top: 5vh;
left: 15vw;
}

.n38 {
position: absolute;
font-size: 1rem;
top: 10vh;
right: 45vw;
}

.n39 {
position: absolute;
font-size: 1.2rem;
top: 80vh;
right: 15vw;
}

.n40 {
position: absolute;
font-size: 1.6rem;
top: 90vh;
left: 20vw;
}